/* Media Queries */

@media all and (min-width: 768px) and (max-width: 991px) {

    .txt {
        grid-area: 2/2/4/7;
    }

    #dataStations {
        grid-area: 1/4/5/7;
    }

    #formCanvas {
        grid-area: 3/4/5/7;
    }

    #info {
        grid-area: 2/2/4/6;
    }
}
