/* Media Queries */

@media all and (max-width: 767px) {

    #header {
        height: 100px;
    }

    .logo {
        height: 50px;
    }

    .txt {
        grid-area: 2/2/4/7;
    }

    #dataStations {
        grid-area: 1/1/5/7;
    }

    #formCanvas {
        grid-area: 1/1/5/7;
        padding-top: 30%;
    }

    #info {
        grid-area: 1/1/5/7;
        padding-top: 30%;
    }
}
